<div>
    <mat-tab-group>

    @for ( location of currentConditionsByZip(); track $index) {
        <mat-tab>
            <ng-template mat-tab-label>
                {{location.data.name + ' (' + location.zip + ')'}}
                <button
                    mat-icon-button
                    (click)="locationService.removeLocation(location.zip)">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template>

            <current-conditions-item
                    [location]="location"
                    class="well flex"
            ></current-conditions-item>

        </mat-tab>
    }
    </mat-tab-group>
</div>
